@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row justify-content-end mt-3">
    <p class="font-italic">Listar transações | @Html.ActionLink("Adicionar transações", "UploadBankTransactionFile", "BankTransaction")</p>
</div>
<div class="row mt-5">
    @if (ViewBag.TotalTransactions > 0)
    {
        <div class="row">
            <div class="col">
                <h2>Transações</h2>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-10">
                <p class="font-italic">Foram identificadas <strong>@ViewBag.TotalTransactions </strong> transações no(s) arquivo(s).</p>
            </div>
        </div>
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Descrição</th>
                    <th scope="col">Data da transação</th>
                    <th scope="col">Valor</th>
                    <th scope="col">Tipo de transação</th>
                </tr>

                <tr>
                    <td scope="col">
                        <input type="text" class="form-control" id="descriptionFilter" />
                    </td>
                    <td scope="col">
                    </td>
                    <td scope="col">
                        <input type="text" class="form-control" id="valueFilter" />
                    </td>
                    <td scope="col">
                        <select id="typeFilter" class="form-control">
                            <option selected="" value="AMBOS">AMBOS</option>
                            <option value="DÉBITO">DÉBITO</option>
                            <option value="CRÉDITO">CRÉDITO</option>
                        </select>
                    </td>
                </tr>
            </thead>
            <tbody>
                @foreach (var bankTransaction in ViewBag.BankTransactions)
                {
                    <tr class="dataLine">
                        <th scope="row">@bankTransaction.Description</th>
                        <td>@bankTransaction.Date</td>
                        <td>@bankTransaction.Value</td>
                        <td class="@( bankTransaction.Type == "DÉBITO" ? "text-danger" : "text-success")"><strong>@bankTransaction.Type</strong></td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="row">
            <div class="col">
                <h4 class="font-italic">Não existem transações salvas...</h4>
                <p>
                    @Html.ActionLink("Clique aqui", "UploadBankTransactionFile", "BankTransaction", new { area = "" }) para adicionar!
                </p>
            </div>
        </div>
    }

    @Scripts.Render("~/bundles/custom/transactionListFilter")
</div>
